[package]
name = "app"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }

candle-core = { version = "0.9.1", features = ["metal"] }
candle-nn = "0.9.1"